@model IEnumerable<VideoDetail>
@{
    ViewData["Title"] = "Video Catalogue";
}

<div class="vccataloguecontainer">
    <div class="vccatalogue">

    @if (Model != null && Model.Any())
    {
        <div class="vcinfo">
            <p class="cataloguestatus">Select a video from the table to begin playback</p>
        </div>
        
        <div id="playerContainer" class="vcvideoplayercontainer">
            <video id="videoPlayer" class="vcvideoplayer" width="640" height="360">
                <source id="videoSource" src="" type="video/mp4" autoplay>Your browser does not support the video tag
            </video>
        </div>
            
        <table class="catalogue-table">
            <thead>
                <tr>
                    <th>Video Filename</th>
                    <th>File Size (KB)</th>
                </tr>
            </thead>
            <tbody id="fileTable">
            @foreach (VideoDetail file in Model)
            {
                <tr data-url="@file.Url">
                    <td>@file.FileName</td>
                    <td>@(Math.Round(file.FileSize / 1024d, 2))</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else {
        <div class="vcinfo">
            <p class="emptycatalog">The catalogue is empty. Use the upload form to add videos</p>
        </div>
    }


    </div>
</div>

<script>
console.log("creating table");
const table = document.getElementById('fileTable');
const videoPlayer = document.getElementById('videoPlayer');
const videoSource = document.getElementById('videoSource');

table.addEventListener('click', e => {
    console.log("load video");
    const row = e.target.closest('tr');
    if (!row) return;

    const videoUrl = row.dataset.url;
    if (videoUrl !== videoSource.getAttribute("src")) {
        videoSource.setAttribute("src", videoUrl)
        videoPlayer.load();
        videoPlayer.controls = true;
        videoPlayer.play();
    };
});
</script>
