*,
*::before,
*::after {
    box-sizing: inherit;
    
}

html {
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    
    min-height: 100vh;
    padding: 0rem;
    margin: 0rem;
    
    box-sizing: border-box;
    overflow-y: scroll;
    height: min-content;
    width: 100%;
    
    line-height: 1.7;
    font-size: 1rem;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "body"
    ;
    place-items: center;
    
    scroll-behavior: smooth;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
    box-sizing: border-box;
    z-index: 1;
    grid-area: body;
    padding: 0rem;
    margin: 0rem;
    
    width: 100%;
    height: min-content;
    min-height: 100vh;
    
    display: grid;
    place-items: start center;
    place-items: center;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1400px;
    place-items: center;
    
}


header {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    height: min-content;
    background-color: black;
    h1 {
      color: white;
      padding-inline-start: 0.5rem;
    }
}



main {
    box-sizing: border-box;
    z-index: 1;
    padding: 0rem;
    margin: 0rem;
    
    width: 100%;
    height: min-content;
    min-height: 100vh;
    
    place-items: start center;
    place-items: start center;
    
    display: flex;
    flex-direction: column;
}

.vcnavbar {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.vcnavbarlist {
    padding: 0rem;
    margin: 0rem;
    list-style: none;    
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-bottom: 3px solid black;
}


.componentcontainer {
    width: 100%;
    padding-inline: 0.5rem;
    min-height: 90vh;
}

.vcuploadform {
    display: flex;
    flex-direction: column;
}





html * {
    /* border: 1px solid black; */
}


/* body { border: 1px solid black; } */
main { border: 3px solid black; }
/* header { border: 3px solid black; } */


.upload-container, .catalogue-container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.catalogue-table {
  width: 100%;
  border-collapse: collapse;
}

.catalogue-table th, .catalogue-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.vcvideoplayercontainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1920 / 1080;
    
    background-color: black;
}


.vcvideoplayer {
  width: 100%;
  height: auto;
  aspect-ratio: 1920 / 1080;
}


table {
  border: 1px solid black;
}

thead {
  background-color: black;
  color: white;
}

tbody {
  tr {
    background-color: white;
    color: black;
  }
  
  tr:hover {
    background-color: black;
    color: white;
  }
}


.nav-link {
  text-decoration: none;
  border: none;
}

.nav-link.inactive {
    background-color: white;
    color: black;
}

.nav-link.active {
    background-color: black;
    color: white;
}

.vccatalogue {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.vcuploadcontainer,
.vccataloguecontainer {
    background-color: white;
}

.vccataloguecontainer {
    
}
.vcuploadcontainer {
}

.vcuploadform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vcuploadinputlabel { 
  pointer-events: none; 
  font-weight: bold;
  max-width: 80ch;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.vcuploadinputhelptext { font-weight: normal;}

.vcuploadinputformgroup {}

.vcuploadinput {
  pointer-events: all;
  cursor: pointer;
}


input[type="file"]::file-selector-button,
.nav-link,
.vcuploadbutton {
  /* color: white; */
  padding: 0rem;
  margin: 0rem;
  width: min-content;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: black;
  color: white;
  
  min-height: 50px;
  min-width: 50px;
  font-size: 1rem;
  cursor: pointer;
  
}



.vccataloguestatus {
    
}


p {
  padding: 0rem;
  margin: 0rem;
}

.vcinfo {
    height: 3rem;
    display: flex;
    padding-inline: 0.5rem;
    place-items: center;
    place-content: start;
    background-color: black;
    
    > p {
      height: min-content;
      color: white;
    }
}


.vcinfo:has(> p[data-status="inactive"]){
  display: none;
}

.vcinfo:has(> p[data-status="active"]){
 background-color: red;
  color: white;
  font-weight: bold;
}


.cataloguestatus {
}

.emptycatalog {
    font-weight: bold;
    
}


footer {
  font-weight: bold;
}


/* 
input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  background-color: #a29bfe;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}


*/