html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.upload-container, .catalogue-container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.catalogue-table {
  width: 100%;
  border-collapse: collapse;
}

.catalogue-table th, .catalogue-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.video-player {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  video {
    width: 100%;
    height: auto;
  }
}